<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tweeter : People</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src='main.js'></script>
</head>
<body>

    <nav class="nav bg">
        <p>
        <a href="/">Feed</a>
        </p>
        <p>
        <a href="/people">People</a>
        </p>
        <p>
        <a href="/yourfeed">Edit posts</a>
        </p>
    </nav>
    <div class="container">
        {{#each posts}}
            <div class="box">
                <div class="name">{{this.first_name}} {{this.last_name}}</div>
                <div class="username">{{this.email}}</div>
            </div>
        {{/each}}
    </div>

</body>
</html>

